@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
$grid-margin: 1;
$total-grid-margin: $grid-margin * 2;
$small-grid: 12 + $total-grid-margin;
$medium-grid: $small-grid;
$large-grid: 24 + $total-grid-margin;
$grid-columns: $small-grid;

// Neat Breakpoints
$small-breakpoint: 600px;
$medium-breakpoint: 900px;

$small-viewport: new-breakpoint(max-width em($small-breakpoint) $small-grid);
$medium-viewport: new-breakpoint(min-width em($small-breakpoint + 1) max-width em($medium-breakpoint) $medium-grid);
$large-viewport: new-breakpoint(min-width em($medium-breakpoint + 1) $large-grid);

// $visual-grid: true;
// $visual-grid-opacity: 1;
