.banner {
    text-align: center;

    .content {
        padding: 4em 0;
        margin-bottom: 2em;
        border-bottom: $base-border;
    }

    .banner-heading {
        font-size: 3em;
        font-weight: normal;
        letter-spacing: 2px;

        a {
            text-decoration: none;
            color: $dark-gray;
        }
    }

    .banner-tagline {
        margin-bottom: 0;
        letter-spacing: 1px;
        line-height: 1em;
    }
}
