@mixin layout-timeline-event($events-per-row, $columns-per-row) {
    @include span-columns($columns-per-row / $events-per-row of $columns-per-row);
    @include omega(#{$events-per-row}n);

    &:nth-child(n+#{$events-per-row + 1}) {
        margin-top: flex-gutter($columns-per-row);
    }
}

.timeline-event {
    @include media($small-viewport) {
        @include layout-timeline-event(1, $small-grid - $total-grid-margin);
    }

    @include media($medium-viewport) {
        @include layout-timeline-event(2, $medium-grid - $total-grid-margin);
    }

    @include media($large-viewport) {
        @include layout-timeline-event(3, $large-grid - $total-grid-margin);
    }
}

.timeline-heading {
    @include hide-element();
}

.timeline-event {
    figure {
        display: block;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    .timeline-event-photo {
        display: block;
        width: 100%;

        @include transition-property(transform);
        @include transition-duration(1.25s);
    }

    figure:hover .timeline-event-photo {
        @include transform(scale(1.1));
    }

    figcaption {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        padding: 1em;
        background-color: transparentize(black, 0.25);
        color: white;
        opacity: 0;

        // Horizontally and vertically center text.
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include transition-property(opacity);
        @include transition-duration(1.25s);
    }

    figure:hover figcaption {
        opacity: 1;
    }

    .timeline-event-heading {
        font-size: 2em;
    }

    .timeline-event-description:last-child {
        margin-bottom: 0;
    }
}
